<%= render "common/services_bread_crumb" %>
<%= render "common/services_header" %>
<div class="clearfix"></div>
<div id="products_index_products_list">
  <%= render :partial => "common/service", :collection => @services %>
</div>
<div id="products_index_page">
  <%= paginate @services %>
</div>