<%- model_class = Category -%>
<div class="page-header">
  <h3><%=t :categories %></h3>
  <%= link_to t('.new'),
            new_admin_category_path,
            :class => 'btn btn-primary' %>
</div>
<%= grid(@categories_grid) do |grid|
  grid.column name: model_class.human_attribute_name(:name),
              attribute: 'name' do |category|
    link_to category.name.truncate(20),
            admin_category_path(category),
            { :title => category.name }
  end

  grid.column name: model_class.human_attribute_name(:weight),
              attribute: 'weight' do |category|
    category.weight
  end

  grid.column name: model_class.human_attribute_name(:created_at),
              attribute: 'created_at' do |category|
    category.created_at.try(:strftime, "%Y-%m-%d %H:%M:%S")
  end

  grid.column name: model_class.human_attribute_name(:updated_at),
              attribute: 'updated_at' do |category|
    category.updated_at.try(:strftime, "%Y-%m-%d %H:%M:%S")
  end

  grid.column do |category|
    buffer = ""
    buffer << link_to(t('.edit'),
                     edit_admin_category_path(category),
                     :class => 'btn btn-default btn-xs')
    buffer << link_to(t('.destroy'),
                      admin_category_path(category),
                      :method => :delete,
                      :data => { :confirm => t("helpers.confirms.destroy",
                                              :default => 'Are you sure?') },
                      :class => 'btn btn-xs btn-danger')
    raw buffer
  end
end -%>
