.services_index_product_img_container{
  padding: 8px;
  width: 180px;
  height: 180px;
  float: left;
  background-color: #d2d2d2;
}

.services_index_product_img_container_inner{
  background-color: #fff;
  padding: 7px;
  width: 164px;
  height: 164px;
}

.services_index_product_img{
  width: 150px;
  height: 150px;
  *margin-left: 5px;
  *margin-top: 5px;
}