<div class="footer" id="footer">
  <div class="container" id="footer_container">
    <div id="footer_contact" class="footer_element">
      <ul>
        <li><h4>HIGHTECH Imp &amp; Exp</h4></li>
        <li>kaili</li>
        <li>tianjin</li>
        <li>Phone:13752095919</li>
        <li>Email:info@chinaprintech.com.cn</li>
      </ul>
    </div>
    <div id="footer_company" class="footer_element">
      <ul>
        <li><h4>Company</h4></li>
        <li><a href="">About</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Testimonials</a></li>
      </ul>
    </div>
    <div id="footer_community" class="footer_element">
      <ul>
        <li><h4>Community</h4></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Forum</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Newsletter</a></li>
      </ul>
    </div>    
    <div id="footer_qrcode" class="footer_element">
      <img src="/assets/qr1.png" alt="">
      <img src="/assets/qr2.png" alt="">
    </div>
  </div>
</div>