<div class="cmyk-header">
  <div class="top">
    <div class="social">
      <a href=""><img src="/assets/facebook.png" style="width:20px;height:20px;"></a>
      <a href=""><img src="/assets/google.png" style="width:20px;height:20px;"></a>
      <a href=""><img src="/assets/twitter.png" style="width:20px;height:20px;"></a>
      <a href=""><img src="/assets/rss.png" style="width:20px;height:20px;"></a>
    </div>
  </div>
  <div class="menu">
    <div class="navbar-header">
        <img src="/assets/logo.png" style="width:200px;height:72px;">
    </div>
    <div class="navbar-collapse collapse pull-left">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICES</a></li>
        <li class="dropdown">
          <%= link_to products_path, :class => "dropdown-toggle disabled", "data-toggle" => "dropdown" do %>
            <span class="caret"></span>PRODUCTS</a>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <% if !@categories.blank? %>
              <% for category in @categories %>
                <li><%= link_to category.try(:name), category_products_path(category) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">CONTACTUS</a></li>
      </ul>
    </div>
    <form class="navbar-form" role="search" id="header_search_form">
      <div class="form-group">
        <input type="text" class="form-control pull-left" placeholder="Search" id="header_search_input">
        <span class="glyphicon glyphicon-search" id="header_search_icon">
        </span>
      </div>
    </form>
  </div>
</div>