<div id="products_index_categories">
  <div class="products_index_one_category">
    <%= link_to t("links.all"),
                products_path,
                :class => "btn #{category_all?}" %>
  </div>
  <%= render :partial => "common/category", :collection => @categories %>
</div>