<div id="products_index_head_container">
  <div id="products_index_head">
    <h4 class="pull-left">Products</h4>
    <ol id="products_index_head_breadcrumb" class="breadcrumb pull-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <li class="active"><%= current_category %></li>
    </ol>
  </div>
</div>